@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loader {
  width: fit-content;
  font-size: 17px;
  font-family: monospace;
  line-height: 1.4;
  font-weight: bold;
  --c: no-repeat linear-gradient(#000 0 0);
  background: var(--c), var(--c), var(--c), var(--c), var(--c), var(--c),
    var(--c);
  background-size: calc(1ch + 1px) 100%;
  border-bottom: 10px solid #0000;
  position: relative;
  animation: l8-0 3s infinite linear;
  clip-path: inset(-20px 0);
}
.loader::before {
  content: "Loading";
}
.loader::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 14px;
  background: rgb(100 116 139 / var(--tw-bg-opacity));
  left: -10px;
  bottom: 100%;
  animation: l8-1 3s infinite linear;
}

@keyframes l8-0 {
  0%,
  12.5% {
    background-position: calc(0 * 100% / 6) 0, calc(1 * 100% / 6) 0,
      calc(2 * 100% / 6) 0, calc(3 * 100% / 6) 0, calc(4 * 100% / 6) 0,
      calc(5 * 100% / 6) 0, calc(6 * 100% / 6) 0;
  }
  25% {
    background-position: calc(0 * 100% / 6) 40px, calc(1 * 100% / 6) 0,
      calc(2 * 100% / 6) 0, calc(3 * 100% / 6) 0, calc(4 * 100% / 6) 0,
      calc(5 * 100% / 6) 0, calc(6 * 100% / 6) 0;
  }
  37.5% {
    background-position: calc(0 * 100% / 6) 40px, calc(1 * 100% / 6) 40px,
      calc(2 * 100% / 6) 0, calc(3 * 100% / 6) 0, calc(4 * 100% / 6) 0,
      calc(5 * 100% / 6) 0, calc(6 * 100% / 6) 0;
  }
  50% {
    background-position: calc(0 * 100% / 6) 40px, calc(1 * 100% / 6) 40px,
      calc(2 * 100% / 6) 40px, calc(3 * 100% / 6) 0, calc(4 * 100% / 6) 0,
      calc(5 * 100% / 6) 0, calc(6 * 100% / 6) 0;
  }
  62.5% {
    background-position: calc(0 * 100% / 6) 40px, calc(1 * 100% / 6) 40px,
      calc(2 * 100% / 6) 40px, calc(3 * 100% / 6) 40px, calc(4 * 100% / 6) 0,
      calc(5 * 100% / 6) 0, calc(6 * 100% / 6) 0;
  }
  75% {
    background-position: calc(0 * 100% / 6) 40px, calc(1 * 100% / 6) 40px,
      calc(2 * 100% / 6) 40px, calc(3 * 100% / 6) 40px, calc(4 * 100% / 6) 40px,
      calc(5 * 100% / 6) 0, calc(6 * 100% / 6) 0;
  }
  87.4% {
    background-position: calc(0 * 100% / 6) 40px, calc(1 * 100% / 6) 40px,
      calc(2 * 100% / 6) 40px, calc(3 * 100% / 6) 40px, calc(4 * 100% / 6) 40px,
      calc(5 * 100% / 6) 40px, calc(6 * 100% / 6) 0;
  }
  100% {
    background-position: calc(0 * 100% / 6) 40px, calc(1 * 100% / 6) 40px,
      calc(2 * 100% / 6) 40px, calc(3 * 100% / 6) 40px, calc(4 * 100% / 6) 40px,
      calc(5 * 100% / 6) 40px, calc(6 * 100% / 6) 40px;
  }
}
@keyframes l8-1 {
  100% {
    left: 115%;
  }
}
.container {
  max-width: 100px;
  max-height: 100px;
  width: 25vw;
  height: 25vw;
  perspective: 800px;
  animation-delay: 2s;
  animation: postion linear 1s;
  animation-duration: 4s;
}

.active {
  cursor: pointer;
  transform: rotateY(180deg);
  transition-delay: 3s;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.card {
  height: 100%;
  width: 100%;

  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
}

.back {
  background-color: #3a3a3a;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.front {
  background: url("/logo.svg");
  background-size: cover;
}
.container {
  animation: animate-in 0.5s linear;
}
@keyframes animate-in {
  from {
  }
  to {
  }
}
